app/build/generated/source/r/debug/com/google/android/gms/R.java
app/build/generated/source/r/debug/com/google/android/gms/analytics/R.java
app/build/intermediates/blame/res/debug/multi/values-af.json
app/build/intermediates/blame/res/debug/multi/values-am.json
app/build/intermediates/blame/res/debug/multi/values-ar.json
app/build/intermediates/blame/res/debug/multi/values-az-rAZ.json
app/build/intermediates/blame/res/debug/multi/values-b+sr+Latn.json
app/build/intermediates/blame/res/debug/multi/values-be-rBY.json
app/build/intermediates/blame/res/debug/multi/values-bg.json
app/build/intermediates/blame/res/debug/multi/values-bn-rBD.json
app/build/intermediates/blame/res/debug/multi/values-bs-rBA.json
app/build/intermediates/blame/res/debug/multi/values-ca.json
app/build/intermediates/blame/res/debug/multi/values-cs.json
app/build/intermediates/blame/res/debug/multi/values-da.json
app/build/intermediates/blame/res/debug/multi/values-de.json
app/build/intermediates/blame/res/debug/multi/values-el.json
app/build/intermediates/blame/res/debug/multi/values-en-rAU.json
app/build/intermediates/blame/res/debug/multi/values-en-rGB.json
app/build/intermediates/blame/res/debug/multi/values-en-rIN.json
app/build/intermediates/blame/res/debug/multi/values-en.json
app/build/intermediates/blame/res/debug/multi/values-es-rUS.json
app/build/intermediates/blame/res/debug/multi/values-es.json
app/build/intermediates/blame/res/debug/multi/values-et-rEE.json
app/build/intermediates/blame/res/debug/multi/values-eu-rES.json
app/build/intermediates/blame/res/debug/multi/values-fa.json
app/build/intermediates/blame/res/debug/multi/values-fi.json
app/build/intermediates/blame/res/debug/multi/values-fr-rCA.json
