app/build/generated/source/r/debug/com/google/android/gms/R.java
app/build/generated/source/r/debug/com/google/android/gms/analytics/R.java
app/build/intermediates/**
build/**
.idea/misc.xml
.idea/workspace.xml
.idea/libraries/pinyin4j_2_5_0.xml
